.header {
    width: 100%;
    background-color: #292828;
    color: #e3eef8;
    font-size: 18px;
    padding: 15px;
}

.logo {
    position: relative;
    left: 0;
    margin: 10px;
    display: inline;
    font-size: 30px;
}

.options {
    position: relative;
    float: right;
    /* display: inline; */
    margin-right: 20px;
}

.ulOptions {
    display: inline;
    list-style: none;
}

.ulOptions>li {
    display: inline;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.ulOptions>li>a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

.ulOptions>li>a:hover {
    color: #7af585;
    font-weight: bold;
    font-size: 22px;
}